<!DOCTYPE html>
<html lang="en">
<head>
  <% include ./partials/head %>
    <script>
      function getPlayerIcon(isPlaying) {
        return isPlaying ? 'pause' : 'play';
      }

      function setPlayerBtnHTML(isPlaying) {
        var playerBtnHTML = `<i class="fa fa-${getPlayerIcon(isPlaying)}"></i>`;
        $('#playPauseButton').html(playerBtnHTML);
      }

      $(function () {
        const playPauseButton = $('#playPauseButton');
        // ON LOAD, CHECK IF ANY SONG IS PLAYING
        let isPlaying = false;
        $.get('getCurrentSong', (res) => {
          if (res) { // If there is any JSON, it means we have something playing
            isPlaying = true;
            setPlayerBtnHTML(isPlaying);
          }
        });

        // PLAY/PAUSE BUTTON ACTION
        playPauseButton.click(() => {
          if (isPlaying) {
            $.get('pause').then(() => {
              isPlaying = false;
              setPlayerBtnHTML(isPlaying);
            });
          } else {
            $.get('play').then(() => {
              isPlaying = true;
              location.reload()
            });
          }
        });
        setPlayerBtnHTML(isPlaying);

        // BOF DEBUG
        /*
        $('#addTestSong').click(function () {
          $.post('queueSong', { providerType: 'youtube', songURL: 'https://www.youtube.com/watch?v=hwZNL7QVJjE' });
        });
        */
        // EOF DEBUG
      });
    </script>
</head>

<body>
  <% include ./partials/header %>
    <div class="container">

      <!-- BOF DEBUG -->
      <!--
      <div class="clearfix">
        <button id="addTestSong" class="btn btn-sm float-right btn-secondary">add test song</button>
      </div>
      -->
      <!-- EOF DEBUG -->

      <h4 class="mt-2 mb-4 clearfix line-height-40">
        Upcoming
        <button class="button-plus float-right clearfix" data-toggle="modal" data-target="#addToPlaylistModal">
          <div>
            <i class="fa fa-plus"></i>
          </div>
        </button>
      </h4>
      <% playlist.forEach(function(playlist){ %>
        <div class="media mb-3">
          <img class="align-self-center mr-3" class="upcoming-img" src="<%= playlist.artWork %>" alt="<%= playlist.title %>">
          <div class="media-body">
            <h6 class="mt-0">
              <%= playlist.title %>
            </h6>
            <% if(playlist.artist){ %>
              <p>
                <%= playlist.artist %>
              </p>
            <% } %>
            <% if(playlist.album){ %>
              <p><%= playlist.album %></p>
            <% } %>
          </div>
        </div>
        <% }); %>

        <% if(playlist.length === 0){ %>
          <p class="text-muted">No songs in playlist</p>
        <% } %>

        <!-- Modal -->
        <% include ./partials/addSongModal %>
      </div>
    </div>
    <footer class="footer">
      <div class="container">
        <di class="clearfix">
          <div class="footer-ico float-left" id="playPauseButton"></div>
          <div class="pull-left footer-song-part">
            <% if (currentSong) { %>
                <div style="width:80"><img src="<%= currentSong.artWork %>" alt="thumb" class="ml-3 mr-3 pull-left" /></div>
                <div class="pull-left footer-song-name"><%= currentSong.title %></div>
            <% } %>
          </div>
          <div class="footer-ico pull-right" onClick="window.location.reload()">
            <i class="fa fa-refresh"></i>
          </div>
        </div>
      </div>
    </footer>
</body>
</html>
