<!DOCTYPE html>
<html lang="en">
<head>
  <% include ./partials/head %>
    <script>
      function getPlayerIcon(isPlaying) {
        return isPlaying ? '&#8545;' : '&#9658;';
      }

      function setPlayerBtnHTML(isPlaying) {
        var playerBtnHTML = "<span>"+getPlayerIcon(isPlaying)+"</span>";
        $('#playPauseButton').html(playerBtnHTML);
      }

      $(function () {
        const playPauseButton = $('#playPauseButton');
        // ON LOAD, CHECK IF ANY SONG IS PLAYING
        let isPlaying = false;
        $.get('getCurrentSong', (res) => {
          if (res) { // If there is any JSON, it means we have something playing
            isPlaying = true;
            setPlayerBtnHTML(isPlaying);
          }
        });

        // PLAY/PAUSE BUTTON ACTION
        playPauseButton.click(() => {
          if (isPlaying) {
            $.get('pause').then(() => {
              isPlaying = false;
              setPlayerBtnHTML(isPlaying);
              // location.reload();
              // setTimeout(() => setTimeout(() => location.reload()), 500);
            });
          } else {
            $.get('play').then(() => {
              isPlaying = true;
              setPlayerBtnHTML(isPlaying);
              // location.reload()
            });
          }
        });
        setPlayerBtnHTML(isPlaying);

        // BOF DEBUG
        /*
        $('#addTestSong').click(function () {
          $.post('queueSong', { providerType: 'youtube', songURL: 'https://www.youtube.com/watch?v=hwZNL7QVJjE' });
        });
        */
        // EOF DEBUG
      });
    </script>
</head>

<body>
  <% include ./partials/header %>
    <div class="container">

      <!-- BOF DEBUG -->
      <!--
      <div class="clearfix">
        <button id="addTestSong" class="btn btn-sm float-right btn-secondary">add test song</button>
      </div>
      -->
      <!-- EOF DEBUG -->

      <h3 class="mt-2 clearfix">
        Playlist
        <button class="button-plus float-right clearfix" data-toggle="modal" data-target="#addToPlaylistModal">
          <div>
            <span>&#10133;</span>
          </div>
          Add song
        </button>
      </h3>
      <% playlist.forEach(function(playlist){ %>
        <div class="media mb-3">
          <img class="align-self-center mr-3" src="<%= playlist.artWork %>" alt="<%= playlist.title %>">
          <div class="media-body">
            <h5 class="mt-0">
              <%= playlist.title %>
            </h5>
            <% if(playlist.artist){ %>
              <p>
                <%= playlist.artist %>
              </p>
            <% } %>
            <% if(playlist.album){ %>
              <p><%= playlist.album %></p>
            <% } %>
          </div>
        </div>
        <% }); %>

        <% if(playlist.length === 0){ %>
          <p class="text-muted">No songs in playlist</p>
        <% } %>

        <!-- Modal -->
        <% include ./partials/addSongModal %>
      </div>
    </div>
    <footer class="footer">
      <div class="container">
        <div class="clearfix">
          <div class="footer-ico float-left" id="playPauseButton">
          </div>
          <div class="pull-left song-name">
            <% if (currentSong) { %>
              <span>
                <img src="<%= currentSong.artWork %>" alt="thumb" />
                <%= currentSong.title %>
              </span>
            <% } %>
          </div>
        </div>
      </div>
    </footer>
</body>
</html>
